<header>
    <a id="logobutton" href="/homepage"><img class="logo" src="/images/logo.png" alt="logo" /></a>
	<nav>
		<ul class="nav_links">
			<li><a href="/homepage">Home</a></li>
			<li><a href="/filter/search">Buy</a></li>
			<li><a href="/listing/new-listing">Sell</a></li>
			<li><a href="/listing/roommates">Find Roommate</a></li>
		</ul>
	</nav>

	<div class="dropdown">
		<button class="dropbtn">
			<%=username%>
			<i class="arrow down"></i>
		</button>
		<div class="dropdown-content">
			<a href="/profile">View Profile</a>
			<a id="logout" href="/logout">Log Out</a>
		</div>
	</div>
</header>
